<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HTML>
<HEAD>

<TITLE>Exhibit: Mutant Fruit Flies - Drosophila Genetics | Exploratorium</TITLE>
<link rel="canonical" href="http://www.exploratorium.edu/exhibits/mutant_flies/mutant_flies.html" />
<script type="text/javascript" language="javascript" src="/js/global.js"></script>
<script type="text/javascript" language="javascript" src="/shared/js/google.js"></script>
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#0000FF" VLINK="#FF0000" ALINK="#00BB00">
<div align="CENTER">
  <table border="0" width="560">
    <tr> 
      <td> 
        <center>
          <img src="http://www.exploratorium.edu/exhibits/mutant_flies/images/mutant_flies_title2.gif" width="341" height="170" alt="Mutant Fruit Flies"> 
        </center>
        <div align="CENTER">
          <table border="0" width="98%">
            <tr> 
              <td> 
                <div align="CENTER">
                  <img src="http://www.exploratorium.edu/exhibits/mutant_flies/images/intro_text.gif" width="448" height="39" alt="One fruit fly should look pretty much like any other. But the flies here all look different..."> 
                </div>
              </td>
            </tr>
          </table>
          <br>
        </div>
        <div align="CENTER">
          <table border="0" width="98%">
            <tr> 
              <td> 
                <h3><img src="http://www.exploratorium.edu/exhibits/images/to_do_and_notice.gif" width="114" height="11" alt="To Do and Notice"><br>
                </h3>
                <ul>
                  <li><font size="+1">Click on the small thumbnail pictures below 
                    to magnify the flies. You'll see enlarged illustrations of 
                    fruit flies, Drosophila melanogaster. (In our real exhibit 
                    you'd be looking at the actual flies crawling around, looking 
                    for food or grooming their wings.) </font> 
                  <li><font size="+1">Compare the mutated flies to the normal 
                    flies. <br>
                    <br>
                    </font> 
                </ul>
                <p><font size="+1"><img src="../images/whats_going_on.gif" width="121" height="14" alt="What's Going On?"><br>
                  <br>
                  </font> <font size="+1">The fruit flies in this exhibit show 
                  just a few of the mutations that occur in natural fruit fly 
                  populations. </font> 
                <p><font size="+1"> The genetic instructions to build a fruit 
                  fly-or any other organism-are imprinted in its DNA, a long, 
                  threadlike molecule packaged in bundles called chromosomes. 
                  Like a phone book made up of different names and addresses, 
                  each chromosome consists of many individual sections called 
                  genes. Each gene carries some of the instructions for building 
                  one particular characteristic of an organism. </font> 
                <p> 
                  <center>
                    <img src="http://www.exploratorium.edu/exhibits/mutant_flies/images/fly_chromosomes2.gif" width="300" height="300" alt="A fruit fly has four pairs of chromosmes in every cell. This diagram shows the locations of the genes that are mutated in the flies here."> 
                  </center>
                <p> <font size="+1">To build a complete organism, many genes must 
                  work precisely together. A defect in a gene can cause a change 
                  in the building plan for one particular body part-or for the 
                  entire organism.</font> 
                <p><font size="+1"><img src="../images/so_what.gif" width="64" height="11" alt="So What"><br>
                  <br>
                  </font> <font size="+1">Mutations are neither good nor bad: 
                  some may be beneficial for an organism; others may be lethal. 
                  By creating new gene versions, mutations are a driving force 
                  for changes in evolution, sometimes leading to new species. 
                  </font> 
                <p><font size="+1"> Biologists learn about the proper function 
                  of any gene by studying mutations. If a defective gene causes 
                  short wings, for instance, scientists know that the healthy 
                  version of the gene is responsible for correct wing formation.</font> 
              </td>
            </tr>
          </table>
        </div>
        <h3>&nbsp;</h3>
        <center>
          <img src="images/altered_wing_structure.gif" width="242" height="9" alt="Altered Wing Structures"><br>
          <br>
          <div align="CENTER">
            <table border="0" width="98%" cellpadding="6">
              <tr> 
                <td width="28%"> 
                  <div align="CENTER">
                    <a href="./normal.gif"><img src="images/normal_thumb.gif" width="108" height="100" border="0"></a><br>
                    <a href="./normal.gif"> Normal Fruit Flies</a> 
                  </div>
                </td>
                <td width="72%"> 
                  <center>
                    <h2>&nbsp; </h2>
                  </center>
                  <font size="+1">These are normal fruit flies, or "wildtypes." 
                  Notice the shape and length of their wings. Now compare them 
                  with the other fruit flies here.</font></td>
              </tr>
            </table>
            <div align="CENTER">
              <table border="0" width="98%" cellpadding="6">
                <tr> 
                  <td width="28%" height="152"> 
                    <div align="CENTER">
                      <a href="./short-wings.gif"><img src="images/short-wings_thumb.gif" width="124" height="100" border="0"><br>
                      Short-Winged Flies</a> 
                    </div>
                  </td>
                  <td width="72%" height="152" valign="MIDDLE"> 
                    <center>
                      <div align="LEFT">
                        <a href="./normal.gif"></a> 
                      </div>
                      <div align="LEFT">
                        <p>&nbsp;</p>
                        <p><font size="+1">Notice the shortened wings of these 
                          flies. Flies with vestigial wings cannot fly: they have 
                          a defect in their "vestigial gene," on the second chromosome. 
                          These flies have a recessive mutation. Of the pair of 
                          vestigial genes carried by each fly (one from each parent), 
                          both have to be altered to produce the abnormal wing 
                          shape. If only one is mutated, the healthy version can 
                          override the defect.</font> </p>
                      </div>
                    </center>
                  </td>
                </tr>
              </table>
            </div>
            <h2 align="CENTER"></h2>
          </div>
          <div align="CENTER">
            <div align="CENTER">
              <table border="0" width="98%" cellpadding="6">
                <tr> 
                  <td width="28%" height="152"> 
                    <div align="CENTER">
                      <a href="./curly-wings.gif"><img src="images/curly-wings_thumb.gif" width="81" height="100" border="0"><br>
                      Curly-Winged Flies</a> 
                    </div>
                  </td>
                  <td width="72%" height="152" valign="MIDDLE"> 
                    <center>
                      <div align="LEFT">
                        <a href="./normal.gif"></a> 
                      </div>
                      <div align="LEFT">
                        <p>&nbsp;</p>
                        <p><font size="+1">Notice the curled wings of these flies. 
                          They have a defect in their "curly gene," which is on 
                          the second chromosome. Having curled wings is a dominant 
                          mutation, which means that only one copy of the gene 
                          has to be altered to produce the defect. In fact, if 
                          both copies are mutated, the flies do not survive.</font> 
                        </p>
                      </div>
                    </center>
                  </td>
                </tr>
              </table>
            </div>
            <h2 align="CENTER"></h2>
          </div>
          <h2 align="CENTER"></h2>
          <h2 align="CENTER"><br clear=ALL>
          </h2>
          <br>
          <img src="images/abnormal_body_color.gif" width="223" height="9" alt="Abnormal Body Color"> 
          <br>
          <br>
          <br>
        </center>
        <center>
        </center>
        <div align="CENTER">
          <a href="./normal.gif"> </a> 
          <table border="0" width="98%" cellpadding="6">
            <tr> 
              <td width="28%"> 
                <div align="CENTER">
                  <a href="./normal.gif"><img src="images/normal_thumb.gif" width="108" height="100" border="0"></a><br>
                  <a href="./normal.gif">Normal Fruit Flies</a> 
                </div>
              </td>
              <td width="72%"> 
                <center>
                  <h2>&nbsp; </h2>
                </center>
                <font size="+1">These normal fruit flies, or "wildtypes," have 
                black-and-tan striped bodies. Compare them with the other fruit 
                flies here.</font></td>
            </tr>
          </table>
          <a href="./normal.gif"> </a> 
        </div>
        <div align="CENTER">
          <table border="0" width="98%" cellpadding="6">
            <tr> 
              <td width="28%"> 
                <div align="CENTER">
                  <a href="./yellow-fly.gif"> <img src="images/yellow-fly_thumb.gif" width="108" height="100" border="0"><br>
                  Yellow Flies</a> 
                </div>
              </td>
              <td width="72%"> 
                <center>
                </center>
                <font size="+1">Notice that these flies are yellower than normal 
                flies. They have a defect in their "yellow gene," which is on 
                the X chromosome. Since the yellow gene is needed for producing 
                a fly's normal black pigment, yellow mutant flies cannot produce 
                this pigment.</font></td>
            </tr>
          </table>
          <a href="./normal.gif"> </a> 
        </div>
        <div align="CENTER">
          <table border="0" width="98%" cellpadding="6">
            <tr> 
              <td width="28%"> 
                <div align="CENTER">
                  <a href="./ebony.gif"><img src="images/ebony_thumb.gif" width="108" height="100" border="0"><br>
                  Ebony Flies</a> 
                </div>
              </td>
              <td width="72%"> 
                <center>
                </center>
                <font size="+1">Notice that these flies have a dark, almost black, 
                body. They carry a defect in their "ebony gene," on the third 
                chromosome. Normally, the ebony gene is responsible for building 
                up the tan-colored pigments in the normal fruit fly. If the ebony 
                gene is defective, the black pigments accumulate all over the 
                body.</font></td>
            </tr>
          </table>
        </div>
        <h3></h3>
        <a href="./normal.gif"> 
        <h3><br>
        </h3>
        </a> 
        <center>
          <h2><img src="images/odd_colored_eyes.gif" width="170" height="9" alt="Odd Colored Eyes"></h2>
        </center>
        <div align="CENTER">
          <a href="./normal.gif"> </a> 
          <table border="0" width="98%" cellpadding="6">
            <tr> 
              <td width="28%"> 
                <div align="CENTER">
                  <a href="./normal.gif"><img src="images/normal_thumb.gif" width="108" height="100" border="0"></a> 
                  <a href="./normal.gif">Normal Fruit Flies</a> 
                </div>
              </td>
              <td width="72%"> 
                <center>
                </center>
                <font size="+1">These are normal fruit flies, or "wildtypes." 
                Notice that their eye color is bright red. Compare them with the 
                other fruit flies here.</font></td>
            </tr>
          </table>
        </div>
        <div align="CENTER">
          <a href="./normal.gif"> </a> 
          <table border="0" width="98%" cellpadding="6">
            <tr> 
              <td width="28%"> 
                <div align="CENTER">
                  <a href="./orange-eyes.gif"> <img src="images/orange-eyes_thumb.gif" width="84" height="100" border="0"><br>
                  Orange-Eyed Flies</a> 
                </div>
              </td>
              <td width="72%"> 
                <center>
                </center>
                <font size="+1">Notice that these flies have orange eyes. They 
                have a defect in their "white" gene, which normally produces the 
                red pigments in the eye. In these flies, the white gene only works 
                partially, producing fewer red pigments than it should.</font></td>
            </tr>
          </table>
        </div>
        <div align="CENTER">
          <table border="0" width="98%" cellpadding="6">
            <tr> 
              <td width="28%"> 
                <div align="CENTER">
                  <a href="./white-eyes.gif"><img src="images/white-eyes_thumb.gif" width="87" height="100" border="0"><br>
                  White-Eyed Flies</a> 
                </div>
                <h3 align="CENTER">&nbsp;</h3>
              </td>
              <td width="72%"> 
                <center>
                  <div align="LEFT">
                    <font size="+1">These flies have white eyes. Like the orange-eyed 
                    flies, they also have a defect in their "white" gene. But 
                    in these flies, the white gene is totally defective: it produces 
                    no red pigment at all. </font><br>
                    <br clear=ALL>
                  </div>
                </center>
              </td>
            </tr>
          </table>
        </div>
        <h3><br clear=ALL>
        </h3>
        <a href="./orange-eyes.gif"></a> 
        <center>
          <h2><img src="images/strangely_formedheads.gif" width="242" height="9" alt="Strangley Formed Heads"><br>
          </h2>
          <table border="0" width="98%">
            <tr> 
              <td width="28%"> 
                <div align="CENTER">
                  <a href="./normal.gif"><img src="images/normal_thumb.gif" width="108" height="100" border="0"></a><br>
                  <a href="./normal.gif">Normal Fruit Flies</a> 
                </div>
              </td>
              <td width="72%"> 
                <center>
                </center>
                <font size="+1">These are normal fruit flies, or "wildtypes." 
                Notice the antennas sticking out in front of their red eyes. Compare 
                these flies to the other fruit flies here.</font></td>
            </tr>
          </table>
          <table border="0" width="98%" cellpadding="6">
            <tr> 
              <td width="28%"> 
                <div align="CENTER">
                  <a href="./eyeless.gif"><img src="images/eyeless_thumb.gif" width="95" height="100" border="0"></a><br>
                  <a href="./eyeless.gif"> Eyeless Flies</a> 
                </div>
              </td>
              <td width="72%"> 
                <center>
                </center>
                <font size="+1">Notice that these flies have no eyes. They have 
                a defect in their "eyes absent" gene, which normally instructs 
                cells in the larvae to form an eye.</font> </td>
            </tr>
          </table>
          <table border="0" width="98%" cellpadding="6">
            <tr> 
              <td width="28%"> 
                <div align="CENTER">
                  <a href="./legheaded.gif"><img src="images/legheaded_thumb.gif" width="118" height="100" border="0"><br>
                  Leg-Headed Flies</a> 
                </div>
              </td>
              <td width="72%"> 
                <center>
                  <div align="LEFT">
                    <font size="+1">Notice that these flies have abnormal, leg-like 
                    antennas on their foreheads. They have a defect in their "antennapedia" 
                    gene (Latin for "antenna-leg"), which normally instructs some 
                    body cells to become legs. In these flies, the antennapedia 
                    gene falsely instructs cells that would normally form antenna 
                    to become legs instead.</font> 
                  </div>
                </center>
              </td>
            </tr>
          </table>
          <table border="0" width="69%">
            <tr> 
              <td height="61"> 
                <center>
                  <font color="#888888">Mutant Fruit Flies (and other aspects 
                  of "Diving Into the Gene Pool") were made possible through support 
                  by the United States Department of Energy, Office of Energy 
                  Research. </font> 
                </center>
              </td>
            </tr>
          </table>
          <br>
          <h2> </h2>
        </center>
        <div align="CENTER">
          <table border="0" width="83%">
            <tr> 
              <td valign="MIDDLE" align="CENTER" width="22%"> 
                <p> 
                <div align="CENTER">
                  <br>
                  <font face="Verdana, Arial, Helvetica, sans-serif" size="-2">&copy; 
                  <a href="/">Exploratorium</a></font></div>
              </td>
              <td width="44%"> 
                <div align="CENTER">
                  <a href="http://www.exploratorium.edu/"><img src="../images/explOlogo.gif" width="120" height="34" alt="Exploratorium" border="0"></a> 
                </div>
              </td>
              <td width="34%"> 
                <div align="CENTER">
                  <a href="http://www.exploratorium.edu/explore/index.php"><img src="../images/online_exhibits.gif" width="120" height="33" alt="Online Exhibits" border="0"></a> 
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>



</BODY>
</HTML>
